services:
  db:
    image: postgres:16-alpine
    container_name: postgres_usuarios
    environment:
      POSTGRES_DB: usuarios_db
      POSTGRES_USER: usuario_django
      POSTGRES_PASSWORD: password123
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
